{% extends 'base.html' %}

{% block content %}
    <div>
        <form action="/user_form/" method="post">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {{ form.csrf_token }}
            <p class="open">Войдите или проверте данные для входа</p>
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32) }}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
            <button>
                <a href="/exit/"> Выйти</a>
            </button>

            <button>
                <a href="/">На главную</a>
            </button>

        </form>
    </div>
{% endblock %}
